<html lang="fi">
<head>
  <meta charset="utf-8">
  <title></title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="css/main.css">
  <style>
  </style>
  <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <script src="js/lodash.min.js"></script>
  <script src="js/angular.min.js"></script>
  <script src="http://goessner.net/download/prj/jsonxml/xml2json.js"></script>
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
  <script type="text/javascript">
  </script>
  <script src="js/app.js"></script>
  <style>
    .numeric, .right {
      text-align: right;
    }

    .col-md-2 input {
      width: 50%;
    }

    .col-md-4 input {
      width: 23%;
    }

    .col-md-6 input {
      width: 25%;
    }

    div span {
      line-height: 29px;
    }

    .right {
      text-align: right;
    }
    .editable {
      color: red;
    }
    .optional {
      color: green;
    }
    .automatic {
      font-weight: bold;
      box-shadow: none !important;
    }
    .grain {
      background-color: #eee;
    }
    .mash {
      background-color: #ddd;

    }
    .boil {
      background-color: #eee;

    }
    .fermenting {
      background-color: #ddd;

    }
    .bottling {
      background-color: #eee;

    }
    .stats {
      background-color: #ddd;

    }

    input {
      background-color: transparent;
    }

  </style>
</head>
<body ng-app="app">
<div ng-controller="beerCtrl">
  <div class="" id="main-content">
    <div class="container">
      <div class="card">
        <div class="card-image bg-primary">
          <span class="card-title">Brew</span>
        </div>
        <div class="card-content">
          <div class="row">
            <div class="right col-md-6 ">

            </div>
            <div class=" col-md-2">

            </div>
          </div>
          <div class="row">
            <div class="right col-md-10 col-md-offset-1">
              <table class="table table-striped table-condensed cf">
                <thead class="cf">
                <tr>
                  <th>Type</th>
                  <th>Amount</th>
                  <th>%</th>
                  <th>Potential</th>
                  <th>Colour</th>
                  <th>Diastatic power</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="grain in recipe.grains">
                  <td class="right">
                    <select ng-options="thisGrain.F_G_NAME + ' (' +thisGrain.F_G_ORIGIN + ')' for thisGrain in grainList|orderBy: 'F_G_NAME'" ng-model="grain.grainObj" ng-change="grainChange(grain)">
                    </select>
                    </td>
                  <td class="right"><input type="text" ng-model="grain.weight" ng-change="recalculateRecipe();" size="6" class="right"  > kg</td>
                  <td class="right">{{ grain.weightPercentage }} %</td>
                  <td class="right">{{ grain.potential }}</td>
                  <td class="right">{{ grain.colour }} EBC</td>
                  <td class="right">{{ grain.diastatic }} &deg;L</td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                  <th></th>
                  <th class="right">{{ recipe.grainWeight}} kg</th>
                  <th></th>
                  <th class="right">{{ recipe.grainPotential}}</th>
                  <th class="right" id="colour">{{ recipe.colour}} EBC</th>
                  <th class="right">{{ recipe.grainDiastatic}} &deg;L
                    <span ng-show="recipe.grainDiastatic>40">, good</span>
                    <span ng-show="recipe.grainDiastatic<40">, too low!</span></th>
                </tr>
                </tfoot>
              </table>
            </div>
          </div>
          <div class="row">
            <div class="col-md-8 col-md-offset-4">
              <label><input type="radio" ng-model="recipe.calculationType" value="plan">Plan your recipe (calculates gravities)</label><br>
              <label><input type="radio" ng-model="recipe.calculationType" value="brew">Brew it! (calculates volumes etc)</label>
            </div>
          </div>

          <div class="row mash">
            <div class="right col-md-6 ">
              <label>
                Mash water volume:
              </label>
              <input type="text" pattern="[0-9]+.[0-9]{2}" class="numeric editable" numeric ng-model="recipe.mashVol"
                     ng-change="recalculateRecipe()"> l
            </div>
            <div class=" col-md-2">
              @ <input type="text" pattern="[0-9]{1,3}" class="numeric editable" ng-model="recipe.temp.mashVol"
                       ng-change="recalculateRecipe()"> &deg;C
            </div>
          </div>
          <div class="row mash">
            <div class="right col-md-6 ">
              <label>
                Mash volume required:
              </label>
              <input type="text" pattern="[0-9]+.[0-9]{2}" class="numeric automatic" ng-model="recipe.mashVolRequired"
                     ng-change="recalculateRecipe()"> l
            </div>
            <div class=" col-md-2">
              @ <input type="text" pattern="[0-9]{1,3}" class="numeric optional" ng-model="recipe.temp.maxMashTemp"
                       ng-change="recalculateRecipe()"> &deg;C
            </div>
          </div>
          <div class="row mash">
            <div class="right col-md-6 ">
              <label>
                Mash thickness:
              </label>
              <input type="text" pattern="[0-9]+.[0-9]{2}" class="numeric automatic" ng-model="recipe.mashThickness"
                     ng-change="recalculateRecipe()"> l/kg
            </div>
            <div>
              <span ng-show="recipe.mashThickness<2.5">(thick)</span>
              <span ng-show="recipe.mashThickness>=2.5 && recipe.mashThickness<=3.5">(medium)</span>
              <span ng-show="recipe.mashThickness>3.5 && recipe.mashThickness<=4.5">(thin)</span>
              <span ng-show="recipe.mashThickness>4.5">(very thin)</span>
            </div>
          </div>
          <div class="row mash">
            <div class="right col-md-6 ">
              <label>
                Sparge water volume:
              </label>
              <input type="text" pattern="[0-9]+.[0-9]{2}" class="numeric editable" ng-model="recipe.spargeVol"
                     ng-change="recalculateRecipe()"> l
            </div>
            <div class=" col-md-2">
              @ <input type="text" pattern="[0-9]{1,3}" class="numeric editable" ng-model="recipe.temp.spargeVol"
                       ng-change="recalculateRecipe()"> &deg;C
            </div>
          </div>

          <div class="row mash">
            <div class="right col-md-6 ">
              <label>
                Weight of used grain:
              </label>
              <input type="text" pattern="[0-9]+.[0-9]{2}" class="numeric" ng-model="recipe.usedGrainWeight"
                     ng-class="{editable: recipe.calculationType=='brew', automatic: recipe.calculationType!='brew'}"
                     ng-change="recalculateRecipe()"> kg
            </div>
          </div>
          <div class="row mash">
            <div class="right col-md-6 ">
              <label>
                Grain absorption:
              </label>
              <input type="text" pattern="[0-9]+.[0-9]{2}" class="numeric automatic" ng-model="recipe.grainAbsorption"
                     ng-change="recalculateRecipe()"> l
            </div>
            <div class=" col-md-2">
              <input type="text" pattern="[0-9]{1,3}" class="numeric " ng-model="recipe.grainAbsorptionPercentage"
                     ng-class="{editable: recipe.calculationType!='brew', automatic: recipe.calculationType=='brew'}"
                     ng-change="recalculateRecipe()"> l/kg
            </div>
            <div class=" col-md-4">
              <input type="text" pattern="[0-9]{1,3}" class="numeric optional" ng-model="recipe.endOfRunningSG"
                     ng-change="recalculateRecipe()"> SG @ 16&deg;C (End of running)
            </div>
          </div>
          <div class="row mash">
            <div class="right col-md-6 ">
              <label>
                Wort volume into kettle:
              </label>
              <input type="text" pattern="[0-9]+.[0-9]{2}" class="numeric automatic" ng-model="recipe.wortVol"
                     ng-change="recalculateRecipe()"> l
            </div>
            <div class=" col-md-2">
              @ <input type="text" pattern="[0-9]{1,3}" class="numeric optional" ng-model="recipe.temp.wortVol"
                       ng-change="recalculateRecipe()"> &deg;C
            </div>
            <div class=" col-md-2">
              <input type="text" pattern="[0-9]{1,3}" class="numeric "
                     ng-class="{editable: recipe.calculationType=='brew', automatic: recipe.calculationType!='brew'}"
                     ng-model="recipe.wortVolSG"
                     ng-change="recalculateRecipe()"> SG @ 16&deg;C
            </div>
          </div>
          <div class="row mash">
            <div class="right col-md-6 ">
              <label>
                Mash efficiency:
              </label>
              <input type="text" pattern="[0-9]+.[0-9]{2}" class="numeric " ng-model="recipe.mashEfficiency"
                     ng-class="{editable: recipe.calculationType!='brew', automatic: recipe.calculationType=='brew'}"
                     ng-change="recalculateRecipe()"> %
            </div>
          </div>
          <div class="row mash">
            <div class="right col-md-6 ">
              <label>
                Sugars extracted/in grain/unextracted:
              </label>
              <input type="text" pattern="[0-9]{1,3}" class="numeric automatic" ng-model="recipe.sugarsExtracted"
                     ng-change="recalculateRecipe()"> kg
            </div>
            <div class=" col-md-2">
              <input type="text" pattern="[0-9]{1,3}" class="numeric automatic" ng-model="recipe.sugarsLeft"
                     ng-change="recalculateRecipe()"> kg
            </div>
            <div class=" col-md-2">
              <input type="text" pattern="[0-9]{1,3}" class="numeric automatic" ng-model="recipe.sugarsUnextracted"
                     ng-change="recalculateRecipe()"> kg
            </div>
          </div>
          <div class="row boil">
            <div class="right col-md-6 ">
              <label>
                Kettle top up:
              </label>
              <input type="text" pattern="[0-9]+.[0-9]{2}" class="numeric" ng-model="recipe.kettleTopUp"
                     ng-change="recalculateRecipe()"> l
            </div>
            <div class=" col-md-2">
              @ <input type="text" pattern="[0-9]{1,3}" class="numeric" ng-model="recipe.temp.kettleTopUp"
                       ng-change="recalculateRecipe()"> &deg;C
            </div>
          </div>
          <div class="row boil">

            <div class="right col-md-6 ">
              <label>
                Volume before boil:
              </label><input type="text" pattern="[0-9]+.[0-9]{2}" class="numeric automatic" ng-model="recipe.volBefBoil"
                             ng-change="recalculateRecipe()"> l
            </div>
            <div class=" col-md-2">
              @ <input type="text" pattern="[0-9]{1,3}" class="numeric" ng-model="recipe.temp.volBefBoil"
                       ng-change="recalculateRecipe()"> &deg;C
            </div>
          </div>
          <div class="row boil">
            <div class="right col-md-6 ">
              <label>
                Evaporation rate: </label>
              <input type="text" pattern="[0-9]+.[0-9]{2}" class="numeric automatic" ng-model="recipe.evaporationRate"
                     ng-class="{editable: recipe.calculationType!='brew', automatic: recipe.calculationType=='brew'}"
                     ng-change="recalculateRecipe()"> %/h
            </div>
            <div class=" col-md-2">
              x <input type="text" pattern="[0-9]{1,3}" class="numeric editable" ng-model="recipe.boilTime"
                       ng-change="recalculateRecipe()"> min
            </div>
          </div>
          <div class="row boil">
            <div class="right col-md-6 ">
              <label>
                Volume at end of boil:
              </label>
              <input type="text" pattern="[0-9]+.[0-9]{2}" class="numeric automatic" ng-model="recipe.volAfterBoil"
                     ng-change="recalculateRecipe()"> l
            </div>
            <div class=" col-md-2">
              @ <input type="text" pattern="[0-9]{1,3}" class="numeric optional" ng-model="recipe.temp.volAfterBoil"
                       ng-change="recalculateRecipe()"> &deg;C
            </div>

          </div>


          <div class="row fermenting">
            <div class="right col-md-6 ">
              <label>
                Into fermenter:
              </label>
              <input type="text" pattern="[0-9]+.[0-9]{2}" class="numeric automatic" ng-model="recipe.intoFermenter"
                     ng-change="recalculateRecipe()"> l
            </div>
            <div class=" col-md-2">
              @ <input type="text" pattern="[0-9]{1,3}" class="numeric optional" ng-model="recipe.temp.intoFermenter"
                       ng-change="recalculateRecipe()"> &deg;C
            </div>
            <div class=" col-md-2">
              <input type="text" pattern="[0-9]{1,3}" class="numeric " ng-model="recipe.intoFermenterSG"
                     ng-class="{editable: recipe.calculationType=='brew', automatic: recipe.calculationType!='brew'}"
                     ng-change="recalculateRecipe()"> OG @ 16&deg;C
            </div>
          </div>


          <div class="row bottling">
            <div class="right col-md-6 ">
              <label>
                Bottling/fermentator loss:
              </label>
              <input type="text" pattern="[0-9]+.[0-9]{2}" class="numeric editable" ng-model="recipe.bottlingLoss"
                     ng-change="recalculateRecipe()"> l
            </div>
          </div>
          <div class="row bottling">
            <div class="right col-md-6 ">
              <label>
                Carbonation (sugar solution) volume:
              </label>
              <input type="text" pattern="[0-9]+.[0-9]{2}" class="numeric editable" ng-model="recipe.carbonationVol"
                     ng-change="recalculateRecipe()"> l
            </div>
            <div class=" col-md-2">
              @ <input type="text" pattern="[0-9]{1,3}" class="numeric editable" ng-model="recipe.temp.carbonationVol"
                       ng-change="recalculateRecipe()"> &deg;C
            </div>
          </div>
          <div class="row bottling">

            <div class="right col-md-6 ">
              <label>
                Bottling volume:
              </label>
              <input type="text" pattern="[0-9]+.[0-9]{2}" class="numeric automatic" ng-model="recipe.bottlingVol"
                     ng-change="recalculateRecipe()"> l
            </div>
            <div class=" col-md-2">
              @ <input type="text" pattern="[0-9]{1,3}" class="numeric editable" ng-model="recipe.temp.bottlingVol"
                       ng-change="recalculateRecipe()"> &deg;C
            </div>
          </div>
          <div class="row bottling">
            <div class="right col-md-6 ">
              <label>
                Final gravity:
              </label>
              <input type="text" pattern="[0-9]+.[0-9]{2}" class="numeric " ng-model="recipe.finalGravity"
                     ng-class="{editable: recipe.calculationType=='brew', automatic: recipe.calculationType!='brew'}"
                     ng-change="recalculateRecipe()"> FG
            </div>
          </div>
          <div class="row stats">
            <div class="right col-md-6 ">
              <label>
                Apparent &amp; real attenuation:
              </label>
              <input type="text" pattern="[0-9]+.[0-9]{2}" class="numeric " ng-model="recipe.apparentAttenuation"
                     ng-class="{editable: recipe.calculationType!='brew', automatic: recipe.calculationType=='brew'}"
                     ng-change="recalculateRecipe()"> %
            </div>
            <div class=" col-md-2">
              <input type="text" pattern="[0-9]+.[0-9]{2}" class="numeric automatic" ng-model="recipe.realAttenuation"
                     ng-change="recalculateRecipe()"> %
            </div>
          </div>
          <div class="row stats">
            <div class="right col-md-6 ">
              <label>
                Alcohol &amp; calories:
              </label>
              <input type="text" pattern="[0-9]+.[0-9]{2}" class="numeric automatic" ng-model="recipe.abv"
                     ng-change="recalculateRecipe()"> %
            </div>
            <div class=" col-md-2">
              <input type="text" pattern="[0-9]{1,3}" class="numeric automatic" ng-model="recipe.calories"
                     ng-change="recalculateRecipe()"> kCal/100g
            </div>
          </div>
          <div class="row stats">
            <div class="right col-md-6 ">
              <label>
                Remaining sugars:
              </label>
              <input type="text" pattern="[0-9]+.[0-9]{2}" class="numeric automatic" ng-model="recipe.remainingSugars"
                     ng-change="recalculateRecipe()"> g/dl
            </div>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>


    </div>
    <div class="clearfix">&nbsp;</div>
  </div>
</div>
</div>
</div>
</body>
